$primary-color: #0bb697;
$secondary-color: #eee9e9;
$secondary-color-darker: #e2e2e2;

@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Medium.otf);
  font-weight: 200;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Bold.otf);
  font-weight: 300;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Book.otf);
  font-weight: 400;
}
*{
  font-family: Gotham;
  font-weight: 100;
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { 
  margin-right: -15px;
  margin-left: -15px;
  display: inline-block; 
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




h1,.h1, h2,.h2,h3,.h3,h4,.h4{
  padding: 0;
  margin: 0;
  font-weight: 400;
}


.col{
  float: left;
  background: rgba(0,255,0,.5);
  display: block;
  border: 1px solid blue;
  padding: 15px;

}
.col-25{
  width: 25%;
}
.col-33{
  width: 33.333333333333333%;
}
.col-50{
  width: 50%;
}
.col-66{
  width:66.6666666666666666%;
}
.col-75{
  width: 75%;
}
.col-100{
  width: 100%;
}
.img-responsive{
  width: 100%;
}

p{
  margin:0;
}
section{
  padding: 60px 0 ; 
  &.gray{
    background: $secondary-color;
  }
}
.container{
  max-width: 980px;
  margin: 0 auto;
  background: rgba(255,0,0,.5);
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-uppercase{
  text-transform: uppercase;
}
a{
  &.button{
    text-align: center;
    padding:11px 8px;
    margin: 0 3px;
    border-radius: 5px;
    text-decoration: none;
    border: solid 2px $primary-color;
    line-height: 40px;
    &.button-transparent-white{
      border-color: transparent;
      background: transparent; 
      color: white;
      &:hover{
        border-color: white;
      }
    }
    &.button-transparent-blue{
      border-color: transparent;
      background: transparent; 
      color: $primary-color;
      border-color: $primary-color;
    }
    &.button-blue{ 
      background: $primary-color; 
      color: white;
    }
    &.button-white{ 
      border-color: white;
      background: transparent; 
      color: white;
    }
  }
}

#header{
  padding: 0;
  #header-static{
    position: static;
    width:100%;
  }
  #logo{
    display: inline-block;
    color:white;
    float: left;
    height: 50px;
    padding: 3px 15px;
    h1{
      margin-top: 15px;
      &:after{
        content: ".";
        color: $primary-color;
        font-weight: 300;
      }
    }
    p{
      font-size: 11px;
      margin-top: 0px;
    }
  }
  nav{
    margin-top: 6px;
    display: inline-block;
    float:right; 
    ul{
      padding:0px;
      li{
        display: inline-block;
      }
    }
  }
}
#hero{
  background: url(../images/headerbg.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  color: white;
  .container{
    padding-top: 265px;
  }  
  .hero-title{
    font-size: 50px;
  }
}
#blog{
  article{
    padding: 15px;
    background: white;
    border: 1px solid $secondary-color-darker;
    footer{
      margin-top: 15px;
    }
    .image-container{
      margin: -15px;
    }
  }
}
.image-container{
  min-height: 200px;
  background: $secondary-color-darker;
  margin-bottom: 15px !important;
  position: relative;
  .overlay-image{
    width: 100%;
    background: $primary-color;
    position: absolute;
    display:none;
    top:0;
    bottom:0;
    z-index: 16;
    .circle{
      border: 2px solid white;
      border-radius: 100%;
      width: 66px;
      height: 66px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      svg{
        width:30px;
        height:30px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
  }
  &:hover .overlay-image{
    display: block;
  }
  img{
    width: 64px;
    height: 64px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
#support{
  background: url(../images/supportBG.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
#social{
  background: url(../images/elements/backgrounds/bg4.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
body > footer{
  background: $secondary-color-darker;
  min-height: 50px;
}