$primary-color: #0bb697;
$secondary-color: #eaeaea;
$secondary-color-darker: #dbdada;
$color-text-primary: #b8b8b8;
$color-text-secondary: #828282;

/*DEBUG VARIABLES*/
.container{
  //background: rgba(255,0,0,.5);

}
.col{
  //background: rgba(0,255,0,.5);
  //border: 1px solid blue;
}

@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Light.otf);
  font-weight: normal;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Medium.otf);
  font-weight: 300;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Gotham;
  src: url(font/Gotham-Book.otf);
  font-weight: 200;
}
*{
  box-sizing: border-box;
}
body, html{
  font-family: Gotham;
  font-weight: normal;
  color: $color-text-primary;
  font-size:16px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { 
  margin-right: -15px;
  margin-left: -15px;
  display: inline-block; 
}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


.col{
  float: left;
  display: block;
  padding: 15px;

}
.col-25{
  width: 25%;
}
.col-33{
  width: 33.333333333333333%;
}
.col-50{
  width: 50%;
}
.col-66{
  width:66.6666666666666666%;
}
.col-75{
  width: 75%;
}
.col-100{
  width: 100%;
}
.img-responsive{
  width: 100%;
}

p{
  margin:7px 0;
}
section{
  padding: 60px 0 ; 
  &.gray{
    background: $secondary-color;
  }
}
.container{
  max-width: 980px;
  margin: 0 auto;
}
.button{
  text-align: center;
  padding:8px 12px;
  margin: 7px 3px;
  border-radius: 5px;
  text-decoration: none;
  border: solid 1px $primary-color;
  font-size: 16px;
  display: inline-block;
  &.button-big{
    padding: 15px 30px;
  }
  &.button-transparent-white{
    border-color: transparent;
    background: transparent; 
    color: white;
    &:hover{
      border-color: white;
    }
  }
  &.button-transparent-blue{
    border-color: transparent;
    background: transparent; 
    color: $primary-color;
    border-color: $primary-color;
  }
  &.button-blue{ 
    background: $primary-color; 
    color: white;
  }
  &.button-white{ 
    border-color: white;
    background: transparent; 
    color: white;
  }
}
.text-white{
  color: white;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
h1,.h1, h2,.h2,h3,.h3,h4,.h4{
  padding: 0;
  margin: 0;
  color: $color-text-secondary;
  font-weight: normal;
}
h1, .h1{
  font-size: 32px;
}
h2, .h2{
  font-size: 28px;
  font-weight: 200;
}
h3, .h3,.text-big{
  font-size: 20px;
}
.text-medium{
  font-size: 14px;
}
.text-mediumer{
  font-size: 12px;
}
.text-small{
  font-size: 11px;
}
.text-smaller{
  font-size: 10px;
}
.text-uppercase{
  text-transform: uppercase;
}

.arrow-down-svg{
  width: 38px;
  height: 38px;
  color:red;
  use{
    fill: $color-text-primary;
  }
}
#header{
  padding: 0;
  #header-static{
    position: static;
    width:100%;
  }
  #logo{
    display: inline-block;
    color:white;
    float: left;
    height: 50px;
    padding: 3px 15px;
    h1{
      margin-top: 15px;
      &:after{
        content: ".";
        color: $primary-color;
        font-weight: bold;
      }
    }
    p{
      margin-top: 0px;
    }
  }
  nav{
    margin-top: 6px;
    display: inline-block;
    float:right; 
    ul{
      padding:0px;
      li{
        display: inline-block;
      }
    }
  }
}
#hero{
  background: url(../images/headerbg.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
  .container{
    padding-top: 265px;
  }  
  .hero-title{
    font-size: 48px;
    margin-bottom:30px;
  }
  .button{
    margin-top:30px;
  }
  .hero-bottom{
    padding-top: 50px;
  }
    padding-bottom: 18px;

}

#blog{
  article{
    padding: 15px;
    background: white;
    border: 1px solid $secondary-color-darker;
    h3{
      font-weight: 200;
    }
    footer{
      margin-top: 15px;
    }
    .image-container{
      margin: -15px;
    }
  }
}
.image-container{
  min-height: 200px;
  background: $secondary-color-darker;
  margin-bottom: 15px !important;
  position: relative;
  .overlay-image{
    width: 100%;
    background: $primary-color;
    position: absolute;
    display:none;
    top:0;
    bottom:0;
    z-index: 16;
    .circle{
      border: 2px solid white;
      border-radius: 100%;
      width: 66px;
      height: 66px;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      svg{
        width:30px;
        height:30px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }
    }
  }
  &:hover .overlay-image{
    display: block;
  }
  img{
    width: 64px;
    height: 64px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
#support{
  background: url(../images/supportBG.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
#social{
  background: url(../images/elements/backgrounds/bg4.jpg) no-repeat;
  background-position: center top;
  background-size: 100% auto;
}
body > footer{
  background: $secondary-color-darker;
  min-height: 50px;
}